@{
    Layout = "_Layout";
}
@model MailListViewModel
<h1>Почтовые адреса</h1>

<form name="ResetForm"
      asp-action="ShowMailList">
    <button name="btn"
            onclick="this.ResetForm.submit()"
            class="btn btn-secondary pull-right">
        Сбросить фильтры
    </button>
</form>

<form name="PostForm"
      asp-action="ShowMailList"
      asp-route-page=@Model.PaginationViewModel.CurrentPage
      asp-route-sortState="@(Model.SortViewModel.Current)">

    <button name="btnSubmit"
            onclick="this.PostForm.submit()"
            class="btn btn-primary pull-right">
        Применить фильтры
    </button>

    <table name="Table"
           class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th width="80px" class="th-sm">
                    <button class="btn-link" type="submit"
                            asp-route-page=@Model.PaginationViewModel.CurrentPage
                            asp-route-sortState="@(Model.SortViewModel.IdSort)">
                        № п/п
                    </button>
                </th>
                <th class="th-sm">
                    <button class="btn-link" type="submit"
                            asp-route-page=@Model.PaginationViewModel.CurrentPage
                            asp-route-sortState="@(Model.SortViewModel.CountrySort)">
                        Страна
                    </button>
                </th>
                <th class="th-sm">
                    <button class="btn-link" type="submit"
                            asp-route-page=@Model.PaginationViewModel.CurrentPage
                            asp-route-sortState="@(Model.SortViewModel.CitySort)">
                        Город
                    </button>
                </th>
                <th class="th-sm">
                    <button class="btn-link" type="submit"
                            asp-route-page=@Model.PaginationViewModel.CurrentPage
                            asp-route-sortState="@(Model.SortViewModel.StreetSort)">
                        Улица
                    </button>
                </th>
                <th class="th-sm">
                    <button class="btn-link" type="submit"
                            asp-route-page=@Model.PaginationViewModel.CurrentPage
                            asp-route-sortState="@(Model.SortViewModel.HouseNumberSort)">
                        Номер дома
                    </button>
                </th>
                <th class="th-sm">
                    <button class="btn-link" type="submit"
                            asp-route-page=@Model.PaginationViewModel.CurrentPage
                            asp-route-sortState="@(Model.SortViewModel.MailIndexSort)">
                        Почтовый индекс
                    </button>
                </th>
                <th width="240px" class="th-sm">
                    <button class="btn-link" type="submit"
                            asp-route-page=@Model.PaginationViewModel.CurrentPage
                            asp-route-sortState="@(Model.SortViewModel.DateTimeSort)">
                        Дата/Время регистрации
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>@Html.TextBox("CountryFilter", Model.FilterViewModel.CountryFilter, htmlAttributes: new { @class = "form-control" })</td>
                <td>@Html.TextBox("CityFilter", Model.FilterViewModel.CityFilter, htmlAttributes: new { @class = "form-control" })</td>
                <td>@Html.TextBox("StreetFilter", Model.FilterViewModel.StreetFilter, htmlAttributes: new { @class = "form-control" })</td>
                <td>@Html.TextBox("HouseNumberFilter", Model.FilterViewModel.HouseNumberFilter, htmlAttributes: new { @class = "form-control" })</td>
                <td>@Html.TextBox("MailIndexFilter", Model.FilterViewModel.MailIndexFilter, htmlAttributes: new { @class = "form-control" })</td>
                <td>@Html.TextBox("DateTimeFilter", Model.FilterViewModel.DateTimeFilter, htmlAttributes: new { @class = "form-control" })</td>
            </tr>
            @RenderBody()
        </tbody>
    </table>
    @{
        List<SelectListItem> list = new List<SelectListItem>();
        list.Add(new SelectListItem() { Text = "5" });
        list.Add(new SelectListItem() { Text = "10" });
        list.Add(new SelectListItem() { Text = "20" });
        list.Add(new SelectListItem() { Text = "50" });
        @Html.DropDownList("pageSize", list);
    }
    @{
        string firstBtnEnabled = Model.PaginationViewModel.CurrentPage != 1 ? "enabled" : "disabled";
        <button type="submit"
                asp-route-page="1"
                asp-route-sortState="@(Model.SortViewModel.Current)"
                class="btn btn-default btn @firstBtnEnabled">
            <i class="glyphicon glyphicon-triangle-left"></i>
            Первая
        </button>

        string prevBtnEnabled = Model.PaginationViewModel.CurrentPage != 1 ? "enabled" : "disabled";

        <button type="submit"
                asp-route-page="@(Model.PaginationViewModel.CurrentPage - 1)"
                asp-route-sortState="@(Model.SortViewModel.Current)"
                class="btn btn-default btn @prevBtnEnabled">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </button>

        int prevPagesToShow =
            Math.Clamp(Model.PaginationViewModel.CurrentPage - 1, 0, 5);
        if (prevPagesToShow != 0)
        {
            for (int i = prevPagesToShow; i > 0; i--)
            {
                <button type="submit"
                        asp-route-page="@(Model.PaginationViewModel.CurrentPage - i)"
                        asp-route-sortState="@(Model.SortViewModel.Current)"
                        class="btn btn-default btn">
                    @(Model.PaginationViewModel.CurrentPage - i)
                </button>
            }
        }

        <a class="btn btn-default btn">
            <u>@(Model.PaginationViewModel.CurrentPage)</u>
        </a>

        int nextPagesToShow =
            Math.Clamp(Model.PaginationViewModel.TotalPages - Model.PaginationViewModel.CurrentPage, 0, 5);
        if (nextPagesToShow != 0)
        {
            for (int i = 1; i <= nextPagesToShow; i++)
            {
                <button type="submit"
                        asp-route-page="@(Model.PaginationViewModel.CurrentPage + i)"
                        asp-route-sortState="@(Model.SortViewModel.Current)"
                        class="btn btn-default btn">
                    @(Model.PaginationViewModel.CurrentPage + i)
                </button>
            }
        }

        string nextBtnEnabled = Model.PaginationViewModel.CurrentPage != Model.PaginationViewModel.TotalPages ? "enabled" : "disabled";
        <button type="submit"
                asp-route-page="@(Model.PaginationViewModel.CurrentPage + 1)"
                asp-route-sortState="@(Model.SortViewModel.Current)"
                class="btn btn-default btn @nextBtnEnabled">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>

        string lastBtnEnabled = Model.PaginationViewModel.CurrentPage != Model.PaginationViewModel.TotalPages ? "enabled" : "disabled";
        <button type="submit"
                asp-route-page="@(Model.PaginationViewModel.TotalPages)"
                asp-route-sortState="@(Model.SortViewModel.Current)"
                class="btn btn-default btn @lastBtnEnabled">
            Последняя
            <i class="glyphicon glyphicon-triangle-right"></i>
        </button>
    }
</form>