@{
    Layout = "_MailView";
}

@{
    int i = 2;
    foreach (var mail in Model.Mails)
    {
        <tr>
            <td>@(i++)</td>
            <td>@mail.Country</td>
            <td>@mail.City</td>
            <td>@mail.Street</td>
            <td>@mail.HouseNumber</td>
            <td>@mail.MailIndex</td>
            <td>@mail.DateTime</td>
        </tr>
    }
}